<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424769050957-3809a2d7ctlrlh1ofbfreh4sbj6d5ceq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424769050957-3809a2d7ctlrlh1ofbfreh4sbj6d5ceq</string>
	<key>API_KEY</key>
	<string>AIzaSyDsxi-69atVUDHIdlh6qXXA9UE_N9Lw6h0</string>
	<key>GCM_SENDER_ID</key>
	<string>424769050957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dnet</string>
	<key>PROJECT_ID</key>
	<string>isp-management-7f59d</string>
	<key>STORAGE_BUCKET</key>
	<string>isp-management-7f59d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424769050957:ios:16cd0d097af5682e30ff04</string>
</dict>
</plist>